<!DOCTYPE html>
<html>
  <head>
    <title>会員サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <body>
    <div class="footer-fixed">
      <%= render "layouts/header" %>
      <%= render "layouts/errors" %>
      <%= render 'public/searches/form' %>
      
    <%= yield %>
    </br>
    </br>
    </br>
      <%= render "layouts/footer" %>
    </div>
  </body>
  <%= debug params if Rails.env.development? %>
  <%= @customer.inspect if Rails.env.development? %>
</html>
